[Desktop Entry]
Name=Calculator
GenericName=Calculator
Exec=fuzzel-calc
Icon=accessories-calculator
Terminal=false
Type=Application
Categories=Utility;Calculator;
